.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;

}

.image-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: -15rem

}

.image-container img {
  height: 550px;
  width: 700px;
  /* object-fit: contain; */
}

h2, h3 {
  margin-bottom: 1rem;
}



.form-container {
  flex: 1;
  padding: 40px;
  /* background-color: white; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 50px;
  margin-top: -15rem;
  margin-right: 100px;
}

.inputBox {
  position: relative;
  margin-bottom: 0px;
}

.inputBox input {
  width: 40%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  font-size: 16px;
  margin-right: 100px;
}

.button {
  background-color: #007bff;
  color: white;
  border-style:dashed;
  border: none;
  border: none;             /* Pas de bordure */
  padding: 15px 40px;       /* Espacement intérieur */
  text-align: center;       /* Alignement du texte */
  text-decoration: none;    /* Pas de soulignement */
  display: inline-block;    /* Affichage en ligne */
  font-size: 16px;          /* Taille de police */
  margin: 10px 2px;         /* Marges */
  cursor: pointer;          /* Curseur en forme de main */
  border-radius: 4px;       /* Bordures arrondies */
  transition-duration: 0.4s;
}
.button:hover {
  background-color: rgb(89, 198, 69);  /* Couleur de fond au survol */
  color:white;           /* Couleur du texte au survol */
  border: 2px solid white; /* Bordure colorée au survol */
}

.btn:disabled {
  background-color: rgb(109, 109, 154);
}
.but {
background-color: #007bff;
color: white;
border-style:dashed;
border: none;
border: none;             /* Pas de bordure */
padding: 10px 20px;       /* Espacement intérieur */
text-align: center;       /* Alignement du texte */
text-decoration: none;    /* Pas de soulignement */
display: inline-block;    /* Affichage en ligne */
font-size: 16px;          /* Taille de police */
margin: 10px 2px;         /* Marges */
cursor: pointer;          /* Curseur en forme de main */
border-radius: 4px;       /* Bordures arrondies */
transition-duration: 0.4s;

}
.but:hover {
  background-color: rgb(89, 198, 69);  /* Couleur de fond au survol */
  color:white;           /* Couleur du texte au survol */
  border: 2px solid white; /* Bordure colorée au survol */
}

.error {
  color: red;
  margin-top: 10px;
}

p {
  text-align: center;
  margin-top: 10px;
}
